.card1{
    width: 1066px;
    height: 170px;
    background-color: aqua;
    margin-left: 21%;
    margin-top: -54.5%;
}
.joint{
    margin-left: 80%;
    margin-top: -7%;
}
.commitee{
    margin-left: 50%;
    margin-top: -7%;
}
.house{
    margin-left: 20%;
    margin-top: 2%;
}
.latest{
    margin-left:4%;
}