.card1{
    width: 1066px;
    height: 170px;
    background-color: white;
    margin-left: 21%;
    margin-top: -54.5%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joint{
    padding-right: 90px;
}
.commitee{
    padding-right: 90px;
}
.house{
    padding-right: 90px;
    
}
.lat {
    padding-right: 50px;
}
 .fasun{
    color: blue;
}
.facalendar{
    color: green;
}
.faclock{
    color: purple;
}
.lat2{
    display: flex;
}
@media screen and (max-width: 768px) {
    .card1 {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
        flex-direction: column; /* Stack contents vertically */
    }

    .joint,
    .commitee,
    .house,
    .lat {
        padding-right: 0; /* Remove right padding */
        margin-bottom: 10px; /* Add space between items */
    }

    .lat2 {
        flex-direction: column; /* Stack items vertically */
    }
}




