
.module {
  margin-top:0%;
    padding: 10px;
    /* background-color: hsl(0, 12%, 90%);// */
    transition: background-color 0.3s ease;
    height: max-content;
    width: 280px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#9c1313;
    border: none;
    margin-left: 0%;
    background: transparent;
  }
  .modules{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .module h3:hover {
    color: #f2f2f2;
  }
  
  
  .module h3 {
    margin: 0;
    font-size: 18px;
  }

  .Link{
    text-decoration: none;
    color: #000;
  }
  
  
  .module svg {
    margin-right: 10px;

  }
  
  
  .Dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     height: 665px;
    background-color:#3483eb;
    width: 270px;
  }
  .search-box {
    position: absolute;
    background-color: #696870;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    margin-top: 0%;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #696870;
    
  }
  .search-box :hover{
    background-color: white;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  .search-button:hover {
    background-color: #e6e6e6;
  }  

  
  .logo {
    height: 90px;
    width: 270px;
     
  }
  .mission{
    margin-left: 0%;
    color: #111111;
    font-weight: bold;
    font-weight: 700;
    background-color:#86c1f5;
    margin-right:0;
  }
  .submodules :hover{
    margin-left: 0%;
    background-color: #f2f2f2;
  }
  .submodules{
    width: fit-content;
  }
  .Doc1{
    margin-left: -10px;
  }
  .legg{
    display: flex;
    align-items: center;
    margin-top: 2%;
  }
  .icon{
    margin-left: 35%;
    margin-right: 25px;
  }
.back{
  margin-top: -4%;
}
.text{
  color: #000;
}
.com{
  margin-top: -8.5%;
}
.lib{
  margin-top: -3%;
}
.tory{
  margin-top: -4%;
}
.ments{
  margin-top: -5%;
}