.pass{
    margin-left: 40%;
    margin-top: 8%;
    background-color:white;
    width: 400px;
    height: 300px;
}
.button{
    margin-top: 8%;
}
.send-button{
    margin-left: 20%;
    background-color: #3483eb;
    width:250px ;
    height: 40px;
}
.email{
    margin-left: 3%;
    margin-top: 5%;
}
.size{
    width: 350px;
    margin-left: 2px;
    height: 40px;
    background-color: aliceblue;
}
.button :hover{
    color: honeydew;
}
.return{
    margin-left: 35%;
    margin-top: 10%;
    color: #0664df;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.error-message{
    color: red;
}