.pass{
    margin-left: 40%;
    margin-top: 15%;
    background-color: #86c1f5;
    width: 400px;
    height: 150px;
}
.button{
    margin-top: 8%;
}
.send-button{
    margin-left: 70%;
}
.cancel-button{
    margin-left: 3%;
}
.email{
    margin-top: 5%;
    margin-left: 3%;
}
.size{
    width: 300px;
}
.button :hover{
    color: #3483eb;
}