
.module {
  margin-top:0%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #e9e3e3;
    transition: background-color 0.3s ease;
    width: 250px;
  }
  
  .module:hover {
    background-color: #635e5e; 
  }
  
  
  .module h3 {
    margin: 0;
    font-size: 18px;
  }

  .Link{
    text-decoration: none;
    color: #000;
  }
  
  
  .module svg {
    margin-right: 10px;
  }
  
  
  .Dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
  }
  
  
  body {
    background-color: #F8F8F8; 
  }
  .search-box {
    position: absolute;
    background-color: #696870;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    margin-top: 1%;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  .search-button:hover {
    background-color: #e6e6e6;
  }  
  .Dashboard {
    /* Rest of your existing styles */
  
    /* Set background image */
    background-image: url('../images/pal2.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  
  
  .logo {
    width: 270px; 
    height: auto;
    margin-top: 10%;
     
  }
  .mission{
    margin-left: 0%;
    margin-top:6% ;
    color: #111111;
    font-weight: bold;
    font-weight: 700;
    background-color: #f0ecec;
    margin-right:0;
  }
  .mission:hover{
    background-color: #635e5e;
  }