
.module {
  margin-top:0%;
    padding: 10px;
    /* background-color: hsl(0, 12%, 90%);// */
    transition: background-color 0.3s ease;
    height: max-content;
    width: 280px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#9c1313;
    border: none;
    margin-left: 0%;
    background: transparent;

  }
  
  .module h3:hover {
    color:#0eca27;
  }
  
  
  .module h3 {
    margin: 0;
    font-size: 18px;
  }

  .Link{
    text-decoration: none;
    color: #000;
  }
  
  
  .module svg {
    margin-right: 10px;

  }
  
  
  .Dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 50px; */
    background-color:rgb(223, 22, 22);
    width: 280px;
  }
  
  
  body {
    background-color:#000; 
  }
  .search-box {
    position: absolute;
    background-color: #696870;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    margin-top: 0%;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  .search-button:hover {
    background-color: #e6e6e6;
  }  

  
  .logo {
    width: 270px; 
    height: auto;
    margin-top: 5%;
    width: 20%;
     
  }
  .mission{
    margin-left: 0%;
    margin-top:10% ;
    color: #111111;
    font-weight: bold;
    font-weight: 700;
    background-color: #f0ecec;
    margin-right:0;
  }
  .mission:hover{
    background-color: #635e5e;
  }
  .submodules :hover{
    margin-left: 0%;
    background-color: #f2f2f2;
  }
  .submodules{
    width: fit-content;
  }
  .Doc1{
    margin-left: -10px;
  }