.live{
    background-color: whitesmoke;
    width: 1366px;
    height: 656.5px;

}
.details{
    font: bolder;
    font-size: larger;
}
.button{
    margin-left: 40% ;
    margin-top: 15%;
    font-size: x-large;
    background-color: #3483eb;
    width: fit-content;
}