/* .live{
    background-color: whitesmoke;
    width: 1366px;
    height: 656.5px;

} */
.details{
    font: bolder;
    font-size: larger;
}
.button{
    margin-left: 40% ;
    margin-top: -4%;
    font-size: x-large;
    background-color: #3483eb;
    width: fit-content;
}
.session{
    margin-left: 2%;
    margin-top:5%
}